
{% extends 'base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static "css/home.css" %}" type="text/css" />
{% endblock %}


{% block content %}
<div class="shadow-sm bg-body p-3">
        {% for repo in select_line|slice:"8" %}
          {{repo}} 
        {% endfor %}
        {% for repo in select_line|slice:"8:25" %}
        <p class="text-secondary">{{repo}} </p>
       {% endfor %}
      
        
      
        
       <table class="table table-hover">
        {% for repo in select_line|slice:"25:" %}
       <tr>
        <td class="">
            <p class="text-danger qued">{{repo}} </p>
        </td>
       </tr>
       {% endfor %}
      </table>
    
    </div>
{% endblock %}

{% block js %}
<script src="{% static "js/home.js" %}"></script>
{% endblock %}